.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
  }
  #logo {
    width: 30%;
    margin-bottom: 2em;
  }
  #nav {
    width: 70%;
    margin-bottom: 2em;
    text-align: right;
  }
  #body1 {
    width: 70%;
  }
  #bodypicture {
    width: 30%;
  }
  #body2 {
    width: 100%;
  }
  footer {
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
  }